* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

@font-face {
  font-family: "Roboto";
  src: url("../assets/police/Roboto/Roboto-Regular.ttf");
}
body {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background-color: grey;
}

.container {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(/assets/images/fond.jpg);
  background-color: lightblue;
  width: 640px;
  height: 1000px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
}

/* ERROR MESSAGE */
.error-message__container {
  position: fixed;
  background-color: #ff866e;
  padding: 10px;
  border-radius: 5px;
  font-weight: 600;
  box-shadow: 0 5px 8px rgb(17, 17, 17);
  top: -50px;
  transition: top 300ms ease-in-out;
}

/*  COUNTER SECTION */
.counter-section {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin: 35px 0;
  width: 100%;
}

.counter-block {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 85%;
}

.counter {
  position: relative;
  font-size: 216px;
  color: white;
}

.modify-counter {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.modify-counter__btn {
  background-color: #4bcfff;
  font-size: 52px;
  color: white;
  border: none;
  width: 95px;
  height: 95px;
  border-radius: 15px 15px 0 0;
  cursor: pointer;
}
.modify-counter__btn:hover, .modify-counter__btn :focus {
  background-color: #9ae2fc;
}
.modify-counter__btn:active {
  background-color: white;
  color: #4bcfff;
}
.modify-counter__input {
  background-color: rgba(255, 255, 255, 0.3);
  outline: none;
  padding-left: 15px;
  font-size: 45px;
  text-align: center;
  color: white;
  border: none;
  width: 95px;
  height: 95px;
  border-radius: 0 0 15px 15px;
}
.modify-counter__input:focus:hover {
  box-shadow: 0 0 0 6px rgba(75, 207, 255, 0.75);
}

.limit {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
}
.limit__title {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  color: #bdbec0;
}
.limit__input {
  background-color: rgba(255, 255, 255, 0.3);
  outline: none;
  font-size: 45px;
  width: 130px;
  text-align: center;
  color: white;
  border: none;
  border-radius: 15px;
  padding: 13px 25px;
  padding-left: 15px;
  padding-right: 0;
  margin-top: 15px;
}
.limit__input:focus:hover {
  box-shadow: 0 0 0 6px rgba(75, 207, 255, 0.75);
}

.reset {
  margin-top: 30px;
  background-color: #4bcfff;
  width: 145px;
  height: 75px;
  border-radius: 15px;
  border: none;
  font-size: 36px;
  color: white;
  cursor: pointer;
}
.reset:hover, .reset :focus {
  background-color: #9ae2fc;
}
.reset:active {
  background-color: white;
  color: #4bcfff;
}

/* CLICK AREA SECTION */
.click-area-section {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 85%;
}

.click-area-title {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  color: #bdbec0;
}

.click-area {
  background-color: rgba(255, 255, 255, 0.3);
  width: 100%;
  height: 250px;
  margin-top: 15px;
  border-radius: 15px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  color: white;
  cursor: pointer;
}
.click-area:active {
  background-color: rgba(255, 255, 255, 0.5);
}

/* JS CLASSES */
.displayError {
  top: 20px;
}

.shake-count {
  color: #ff866e;
  animation-name: shake-count-effect;
  animation-duration: 100ms;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

/* KEYFRAMES */
@keyframes shake-count-effect {
  0% {
    left: -5px;
  }
  50% {
    left: 5px;
  }
  100% {
    left: 0px;
  }
}/*# sourceMappingURL=styles.css.map */