// BASE
@import './base/_reset.scss';
@import './base/_fonts.scss';

// UTILS
@import './utils/_variables.scss';
@import './utils/_mixins.scss';


body {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background-color: grey;
}

.container {
  background: 
  linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
  url(/assets/images/fond.jpg);
  background-color: lightblue;
  width: $display-width;
  height: $display-height;
  @include flexbox-col-start-center;  
}

/* ERROR MESSAGE */
.error-message__container {
  position: fixed;
  background-color: $dark-red;
  padding: 10px;
  border-radius: 5px;
  font-weight: 600;
  box-shadow: 0 5px 8px rgb(17, 17, 17);
  // top: 10px;
  top: -50px;
  transition: top 300ms ease-in-out;
}


/*  COUNTER SECTION */
.counter-section {
  @include flexbox-col-center-center;
  margin: 35px 0;
  width: 100%;
}

.counter-block {
  @include flexbox-row-between-center;
  width: $display-width-content-max;
}

.counter {
  font-size: $text-count-size;
  color: white;
}

.modify-counter {
  @include flexbox-col-center-center;

  &__btn{
    background-color: $blue;
    font-size: $text-button-inc-dec-size;
    color: white;
    border: none;
    width: 95px;
    height: 95px;
    border-radius: 15px 15px 0 0;
    cursor: pointer;

    &:hover, :focus {
      background-color: $light-blue;
    }

    &:active {
      background-color: white;
      color: $blue;
    }
  }
  
  &__input {
    background-color: $transparent-gray;
    outline: none;
    padding-left: $paddingLeft-input;
    font-size: $number-size;
    text-align: center;
    color: white;
    border: none;
    width: 95px;
    height: 95px;
    border-radius: 0 0 15px 15px;

    &:focus:hover {
      box-shadow: $input-shadow;
    }
  }
}

.limit {
  @include flexbox-col-start-center;

  &__title {
    @include title;
  }

  &__input {
    background-color: $transparent-gray;
    outline: none;
    font-size: $number-size;
    width: $width-limit-input;
    text-align: center;
    color: white;
    border: none;
    border-radius: $borderRadius;
    padding: $padding-limit-input;
    padding-left: 15px;
    padding-right: 0;
    margin-top: $marginTop-limit-input;

    &:focus:hover {
      box-shadow: $input-shadow;
    }
  }
}

.reset {
  margin-top: 30px;
  background-color: $blue;
  width: 145px;
  height: 75px;
  border-radius: $borderRadius;
  border: none;
  font-size: $text-button-reset;
  color: white;
  cursor: pointer;

  &:hover, :focus {
    background-color: $light-blue;
  }

  &:active {
    background-color: white;
    color: $blue;
  }
}


/* CLICK AREA SECTION */
.click-area-section {
  @include flexbox-col-center-center;
  width: $display-width-content-max;
}

.click-area-title {
  @include title;
}

.click-area {
  background-color: $transparent-gray;
  width: 100%;
  height: 250px;
  margin-top: $marginTop-limit-input;
  border-radius: $borderRadius;
  @include flexbox-col-center-center;
  font-size: $text-click-area-size;
  color: white;
  cursor: pointer;

  &:active {
    background-color: $transparent-dark-gray;
  }
}


/* JS CLASSES */
.displayError {
  top: 20px;
}