// DIMENSIONS
$display-width: 640px;
$display-height: 1000px;
$padding-limit-input: 13px 25px;
$marginTop-limit-input: 15px;
$display-width-content-max: 85%;

// SIZES
$title-size: 14px;
$text-button-inc-dec-size: 52px;
$text-count-size: 216px;
$text-button-reset: 36px;
$text-click-area-size: 32px;
$number-size: 45px;
$borderRadius: 15px;

// COLORS
$blue: #4bcfff;
$light-blue: #9ae2fc;
$dark-blue: 0 0 0 6px rgba(75, 207, 255, .75);
$gray: #bdbec0;
$dark-red: #ff866e;
$transparent-gray: rgba(255, 255, 255, 0.3);
$transparent-dark-gray: rgba(255, 255, 255, 0.5);